.row {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 4px;
  margin-bottom: 0.5cm;
}

.column {
  /*flex: 25%;*/
  /*max-width: 25%;*/
  max-width: 400px;
  min-width: 400px;
  padding: 0 4px;
  overflow: scroll;
  /*display: none;*/
  /*default display is block! */
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

